/* Format mobile */
@media (max-width: 767px) {
    .footer-top {
        flex-direction: column;
        align-items: center;
    }

    .footer-container {
        margin: 0;
    }

    .footer-section {
        text-align: center;
    }

    .toggle-dropdown {
        cursor: pointer;
    }

    .dropdown-list {
        display: none;
    }

    .toggle-dropdown.open+.dropdown-list {
        display: block;
    }

    .footer-section h3 {
        font-size: 1rem;
        /* 16px */
        font-weight: normal;
    }
}