// Format mobile
@media (max-width: 767px) {
  .main-section {
    margin: 1.25rem; // 20px
    margin-bottom: 0;
    padding: 1.25rem 0; // 20px 0
  }

  .main-section .text-section .btn-download {
    margin: 5px 0 15px 0; 
    padding: 0.225rem 0.675rem; 
    font-size: 0.875rem;
  }
  
  .main-section .gif-section {
    width: 100%;
  }

  .main-section .gif-section img {
    height: 100%;
  }

  .main-section .gif-section {
    height: auto;
  }
}