// Format mobile
@media (max-width: 767px) {
  .main-section {
    margin: 1.25rem; // 20px
    padding: 1.25rem 0; // 20px 0
  }

  .main-section .text-section .btn-download {

    margin: 0;
    margin-top: 5px;
    margin-bottom: 15px;

  }

  .main-section .gif-section {
    width: 100%;
  }

  .main-section .gif-section img {
    height: 100%;
  }

  .main-section .gif-section {
    height: auto;
  }
}