/* Appareils mobiles */
@media (max-width: 767px) {

    /* Section creation */
    .section-crea {
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin: 0;
    }

    .crea-text-section {
        width: 100%;
        text-align: left;
        margin: 3.125rem 3.125rem 0;
        /* 50px 50px 0 */
      }
      

    .crea-text-section h1 {
        font-size: 1.25rem;
        /* 20px */
    }

    .crea-subtitle h2 {
        font-size: 1rem;
        /* 16px */
    }

    .crea-subtitle p {
        font-size: 0.875rem;
        /* 14px */
    }

    .crea-image {
        order: 2;
        margin: 1.875rem 0 0;
        margin-left: 5rem;
        /* 30px 0 0 */
      }
      

      .crea-image img {
        margin: -3.125rem 9.375rem 3.125rem;
        /* -50px 150px 50px */
        width: 100%;
      }      
}