.progress-bar {
  width: calc(100% - 12.5rem);
  /* 100% - 200px */
  height: 1.25rem;
  /* 20px */
  border-radius: 0;
  overflow: hidden;
  margin: 0 auto;
  background-color: black;

  .progress {
    height: 100%;
    background: linear-gradient(to right, #2F918F, #ff8a00);
    width: 0%;
    transition: width 2s ease;
    animation: progressAnimation 5s infinite;
  }
}

@keyframes progressAnimation {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}