/* FAQ Section */

.faq-answer p {
  font-family: "Aeroport";
  padding-right: 3.125rem;
}

#section-faq {
  padding: 3.125rem 6.25rem;
  text-align: left;
}

#section-faq h2 {
  font-family: "MarkW01-Heavy";
  color: #2F918F;
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}

.faq-item {
  margin-bottom: 2.5rem;
}

.faq-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq-question h3 {
  font-family: "MarkW01-Heavy";
  color: #000000;
  font-size: 1.125rem;
  margin-bottom: 0.625rem;
  flex: 1;
}

.faq-toggle {
  background-color: #2F918F;
  color: white;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.625rem;
  cursor: pointer;
}

.faq-toggle .faq-toggle-icon {
  font-size: 1.25rem;
}

.faq-answer {
  color: #000000;
  font-family: "Aeroport";
  font-size: 1rem;
  display: none;
}

.faq-answer p {
  color: black;
}

.faq-divider {
  height: 0.125rem;
  background-color: black;
  margin: 1.25rem 0;
}
