/* Section FAQS */

.faq-answer p {
  font-family: "Aeroport";
  padding-right: 3.125rem;
  /* 50px */
}

#section-faq {
  padding: 3.125rem 6.25rem;
  /* 50px 100px */
  text-align: left;

  h2 {
    font-family: "MarkW01-Heavy";
    color: #2F918F;
    font-size: 1.5rem;
    /* 24px */
    margin-bottom: 1.25rem;
    /* 20px */
  }
}

.faq-item {
  margin-bottom: 2.5rem;
  /* 40px */
}

.faq-question {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3 {
    font-family: "MarkW01-Heavy";
    color: #000000;
    font-size: 1.125rem;
    /* 18px */
    margin-bottom: 0.625rem;
    /* 10px */
    flex: 1;
  }

  .faq-toggle {
    background-color: #2F918F;
    color: white;
    width: 1.875rem;
    /* 30px */
    height: 1.875rem;
    /* 30px */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.625rem;
    /* 10px */
    cursor: pointer;

    .faq-toggle-icon {
      font-size: 1.25rem;
      /* 20px */
    }
  }
}

.faq-answer {
  color: #000000;
  font-family: "Aeroport";
  font-size: 1rem;
  /* 16px */
  display: none;

  p {
    color: black;
  }
}

.faq-divider {
  height: 0.125rem;
  /* 2px */
  background-color: black;
  margin: 1.25rem 0;
  /* 20px 0 */
}