/* Links Section */

#section-outdoor {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 3.125rem;
}

.blog-square {
  flex: 1;
  margin: 0 0.625rem;
}

.square-content {
  height: 18.75rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding: 1.25rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.square-content img {
  width: 9.375rem;
  height: 9.375rem;
  margin-bottom: 0.625rem;
}

.square-content .square-text {
  font-family: "Aeroport", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.square-content:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
