/* Platform Section */

.platform-section {
  background-color: #000000;
  color: #2F918F;
  text-align: center;
  padding: 3.125rem 6.25rem;
  /* margin: -2.4rem 6.25rem 1.875rem 6.25rem; */


  .platform-title {
    margin-top: 0.625rem;
    font-family: "MarkW01-Heavy";
  }

  .platform-logos {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    margin-top: 1.25rem;
    font-size: 3.5rem; 
  }
}
