.section-crea {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 1.875rem 6.25rem;
    /* 30px 100px */
    gap: 3.125rem;
    /* 50px */

    .crea-text-section {
        width: 50%;

        h1 {
            color: #2F918F;
            font-family: "MarkW01-Heavy";
            font-size: 1.875rem;
            /* 30px */
            margin-bottom: 1.25rem;
            /* 20px */
        }

        .crea-subtitle {
            position: relative;
            margin-bottom: 1.25rem;
            /* 20px */
            padding-left: 1.875rem;
            /* 30px */

            h2 {
                font-family: "MarkW01-Heavy";
                font-size: 1.5rem;
                /* 24px */
                margin-bottom: 0.3125rem;
                /* 5px */
                cursor: pointer;
            }

            p {
                font-family: "Aeroport";
                font-size: 1.125rem;
                /* 18px */
                display: none;
            }

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 0.125rem;
                /* 2px */
                height: 60%;
                background-color: #2F918F;
            }
        }
    }

    .crea-image {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: auto;
            display: none;
        }
    }

    /* Afficher le contenu par défaut */
    .crea-subtitle:first-child h2,
    .crea-subtitle:first-child p {
        display: block;
    }

    .crea-image img:first-child {
        display: block;
    }
}