/* Comment Section */

.section-comment {
    background-color: black;
    padding: 3.125rem;
    position: relative;
  }
  
  .section-comment .comment-title {
    font-family: "MarkW01-Heavy";
    color: #2F918F;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1.875rem;
  }
  
  .section-comment .comment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .section-comment .comment-container .comment {
    text-align: center;
    margin-top: 1.25rem;
  }
  
  .section-comment .comment-container .comment img {
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .section-comment .arrow-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .section-comment .arrow-container.arrow-left {
    left: 31.25rem;
  }
  
  .section-comment .arrow-container.arrow-right {
    right: 31.25rem;
  }
  
  .section-comment .arrow-container .arrow {
    width: 3.125rem;
    height: 3.125rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .section-comment .arrow-container .arrow:before {
    content: "\2039";
    color: black;
    font-size: 1.875rem;
  }
  
  .section-comment .arrow-container.arrow-right .arrow:before {
    content: "\203A";
  }
  