/* CSS pour Ordinateurs Portables */
@media (min-width: 992px) {

    /* Section principal */
    .gif-section img {
        width: 100%;
        height: auto;
    }

    /* Section application */
    #app-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 0;
        margin: 30px 100px;
        margin-bottom: 0;
    }

    .app-content {
        text-align: center;
        margin-bottom: 30px;
    }

    .app-title {
        color: #2F918F;
        font-family: "MarkW01-Heavy";
        font-size: 30px;
        margin-bottom: 20px;
    }

    .app-text {
        color: #000000;
        font-family: "Aeroport";
        font-size: 20px;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .app-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
    }

    .app-button {
        cursor: pointer;
        margin: 0 10px;
        position: relative;
    }

    .app-button img {
        width: 100px;
        height: auto;
        transition: opacity 0.3s;
    }

    .app-button:hover img {
        opacity: 0.7;
    }

    .app-button::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #2F918F;
        transition: width 0.3s;
    }

    .app-button:hover::after {
        width: 70%;
    }

    .download-gif img {
        width: 800px;
        height: 500px;
        float: left;
        margin-right: 30px;
    }

    .download-text-content {
        text-align: center;
        margin-left: 0;
    }

    .download-text-content p {
        color: black;
        font-family: "Aeroport";
        font-size: 20px;
    }

    .btn-download {
        background-color: #2F918F;
        color: white;
        border-radius: 5px;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
    }

    /* Section creation */
    .section-crea {
        padding: 0px;
        box-sizing: border-box;
    }

    .crea-text-section,
    .crea-image {
        width: 45%;
    }

    .crea-text-section h1 {
        font-size: 24px;
    }

    .crea-subtitle h2 {
        font-size: 20px;
    }

    .crea-subtitle p {
        font-size: 16px;
    }

    .crea-image img {
        max-width: 80%;
    }

    /* Section media */

    .rectangle-content {
        font-size: 16px;
    }

    .ratings {
        margin-top: 5px;
    }

    .rating-number {
        font-size: 14px;
        margin-right: 3px;
    }

    .stars {
        display: flex;
        margin-top: 3px;
    }

    .star {
        width: 12px;
        height: 12px;
        margin-right: 2px;
    }

    .features {
        margin-top: 10px;
    }

    .feature {
        margin-right: 5px;
        padding: 3px 6px;
        font-size: 12px;
    }


    /* Section commentaire */
    .section-comment {
        background-color: black;
        padding: 50px;
        position: relative;
    }

    .comment-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .comment {
        text-align: center;
        margin-top: 20px;
    }

    .comment img {
        width: 200px;
        height: auto;
        margin-bottom: 20px;
    }

    .arrow-container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .arrow-container.arrow-left {
        left: 100px;
    }

    .arrow-container.arrow-right {
        right: 100px;
    }

    .arrow {
        width: 40px;
        height: 40px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .arrow-left:before {
        content: "\2039";
        color: black;
        font-size: 30px;
    }

    .arrow-right:before {
        content: "\203A";
        color: black;
        font-size: 30px;
    }
}



/* CSS pour les tablettes */
@media (min-width: 768px) and (max-width: 1024px) {

    /*body*/
    .diamond2 {
        width: 400px;
        height: 400px;
        margin-top: -350px;
        margin-left: 140px;
    }

    .diamond3 {
        margin-right: 140px;
        margin-top: 300px;
        width: 400px;
        height: 400px;
    }

    /* Section principale */
    .main-section {
        margin: 30px 20px 0 20px;
        margin-bottom: 0px;
        padding: 50px 20px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Barre de progression */
    .progress-bar-container {
        margin: 0 20px;
    }

    .progress-bar {
        width: calc(100% - 40px);
    }

    .gif-section {
        display: flex;
        justify-content: center;
    }

    .gif-section img {
        width: 100%;
        height: auto;
    }

    .text-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Section des plateformes */
    .platform-section {
        padding: 50px 20px;
        margin: 0 20px 30px 20px;
    }

    /* Section application */
    #app-section {
        margin: 30px 50px;
    }

    .app-title {
        font-size: 25px;
    }

    .app-text {
        font-size: 18px;
    }

    .app-buttons {
        flex-wrap: wrap;
        justify-content: center;
    }

    .app-button {
        margin: 10px;
    }

    .app-button img {
        width: 80px;
    }

    .download-gif img {
        width: 500px;
        height: 313px;
        margin-right: 0;
    }

    .download-text-content {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .download-text-content p {
        font-size: 16px;
    }

    .btn-download {
        padding: 8px 16px;
    }

    /* Section creation */
    .section-crea {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: -50px;
        margin-right: -50px;
    }

    .crea-text-section {
        flex-grow: 1;
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .crea-text-section h1 {
        color: #2F918F;
        font-family: "MarkW01-Heavy";
        font-size: 25px;
        margin-bottom: 30px;
        line-height: 1.2;
    }

    .crea-image {
        text-align: center;
    }

    .crea-image img {
        max-width: 100%;
        height: auto;
    }

    .crea-subtitle {
        text-align: center;
        margin-bottom: 10px;
    }

    .crea-subtitle h2 {
        font-family: "MarkW01-Heavy";
        font-size: 24px;
        margin-bottom: 5px;
    }

    .crea-subtitle p {
        font-family: "Aeroport";
        font-size: 18px;
    }

    .crea-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .crea-button {
        width: 40px;
        height: 40px;
        background-color: #2F918F;
        margin: 5px;
        border-radius: 50%;
    }

    /* Section media */

    .rectangle-container {
        flex-direction: column;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .rectangle-right {
        width: 100%;
    }

    /* Section commentaire */
    .arrow-container.arrow-left {
        left: 100px;
    }

    .arrow-container.arrow-right {
        right: 100px;
    }

    .arrow {
        width: 30px;
        height: 30px;
    }

    .arrow-left:before {
        font-size: 20px;
    }

    .arrow-right:before {
        font-size: 20px;
    }

    /*pied de page*/
    .footer-top {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
    }
}

/* CSS pour Smartphones */
@media (max-width: 767px) {

    /*body*/
    .diamond2 {
        display: none;
    }

    .diamond3 {
        display: none;
    }

    /* Page principale */
    .main-section {
        margin: 30px 20px;
        padding: 30px 0;
        text-align: center;
        order: 2;
    }

    /* Barre de progression */
    .progress-bar-container {
        margin: 0 20px;
        order: 3;
    }

    .progress-bar {
        width: calc(100% - 40px);
    }

    .gif-section {
        text-align: center;
        order: 1;
    }

    .gif-section img {
        width: 100%;
        height: auto;
    }

    .text-section {
        text-align: center;
        margin-top: -320px;
        order: 2;
    }

    .text-section h1,
    .text-section p,
    .text-section .btn-download {
        text-align: center;
        width: 100%;
    }

    .main-section {
        margin-bottom: 0px;
        order: 3;
    }

    /* Section des plateformes */
    .platform-section {
        margin-top: -20px;
        padding: 50px 20px;
        margin: 0 20px 30px 20px;
        order: 4;
    }

    /* Section application */
    .app-content {
        flex-direction: column;
        padding: 50px 80px;
        margin-top: -100px;
    }

    .app-buttons {
        flex-wrap: wrap;
        justify-content: center;
    }

    .app-button {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: transparent;
        border: 2px solid #2F918F;
        margin: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s;
    }

    .app-button:hover {
        background-color: #2F918F;
    }

    .app-button img {
        display: none;
    }

    .download-section {
        background-color: #D9D9D9;
        padding: 50px;
        margin: 30px 0;
        margin-top: -50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
    }

    .download-gif {
        order: 1;
        margin-bottom: 20px;
    }

    .download-text-content {
        order: 2;
        margin-bottom: 10px;
    }

    .app-title,
    .app-text {
        text-align: center;
    }

    .btn-download {
        display: block;
        margin-top: 20px;
    }

    .download-gif img {
        width: 100%;
        height: auto;
    }

    .download-text-content p {
        text-align: center;
    }

    .btn-download {
        margin-top: 20px;
    }

    /* Section creation */
    .section-crea {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 20px;
    }

    .crea-text-section {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .crea-text-section h1 {
        color: #2F918F;
        font-family: "MarkW01-Heavy";
        font-size: 24px;
        margin-bottom: 10px;
        line-height: 1.2;
    }

    .crea-subtitle {
        text-align: center;
        margin-bottom: 10px;
    }

    .crea-subtitle h2 {
        font-family: "MarkW01-Heavy";
        font-size: 18px;
        margin-bottom: 5px;
        cursor: pointer;
    }

    .crea-subtitle p {
        font-family: "Aeroport";
        font-size: 14px;
        display: none;
    }

    .crea-image {
        text-align: center;
    }

    .crea-image img {
        max-width: 100%;
        height: auto;
    }

    /* Afficher le contenu par défaut */
    .crea-subtitle:first-child h2,
    .crea-subtitle:first-child p {
        display: block;
    }

    .crea-image img:first-child {
        display: block;
    }


    /* Section media */

    .title-container,
    .media-container {
        display: none;
    }

    .button-container {
        text-align: center;
        margin-top: 20px;
    }

    /* Section commentaire */

    .comment-title {
        margin-bottom: 150px;
    }

    .arrow-container.arrow-left {
        left: 130px;
    }

    .arrow-container.arrow-right {
        right: 130px;
    }

    .arrow {
        width: 20px;
        height: 20px;
    }

    .arrow-left:before {
        font-size: 20px;
    }

    .arrow-right:before {
        font-size: 20px;
    }

    /* Section commentaire */
    .section-comment {
        background-color: black;
        padding: 50px;
        position: relative;
    }

    .comment-title {
        font-family: "MarkW01-Heavy";
        color: #2F918F;
        font-size: 24px;
        text-align: center;
        margin-bottom: 30px;
    }

    .comment-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .comment {
        text-align: center;
        margin-top: 20px;
    }

    .comment img {
        width: 200px;
        height: auto;
        margin-bottom: 20px;
    }

    .arrow-container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .arrow-container.arrow-left {
        left: 10px;
    }

    .arrow-container.arrow-right {
        right: 10px;
    }

    .arrow {
        width: 50px;
        height: 50px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .arrow-left:before {
        content: "\2039";
        color: black;
        font-size: 30px;
    }

    .arrow-right:before {
        content: "\203A";
        color: black;
        font-size: 30px;
    }

    /* Section FAQS */
    #section-faq {
        padding: 50px 20px;
        text-align: left;
    }

    #section-faq h2 {
        font-family: "MarkW01-Heavy";
        color: #2F918F;
        font-size: 24px;
        margin-bottom: 20px;
    }

    .faq-item {
        margin-bottom: 40px;
    }

    .faq-question {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .faq-question h3 {
        font-family: "MarkW01-Heavy";
        color: #000000;
        font-size: 18px;
        margin-bottom: 10px;
        flex: 1;
    }

    .faq-question .faq-toggle {
        background-color: #2F918F;
        color: white;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        cursor: pointer;
    }

    .faq-question .faq-toggle-icon {
        font-size: 20px;
    }

    .faq-answer {
        color: #000000;
        font-family: "Aeroport";
        font-size: 16px;
        display: none;
        padding-right: 10px;
    }

    .faq-answer p {
        color: black;
    }

    .faq-divider {
        height: 2px;
        background-color: black;
        margin: 20px 0;
    }

    /* Liens CT */
    #section-outdoor {
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }

    .blog-square {
        width: 100%;
        height: 200px;
        margin: 10px 0;
    }

    /*footer*/
    .footer-top {
        flex-direction: column;
        align-items: center;
    }

    .footer-container {
        margin: 0;
    }

    .footer-section {
        text-align: center;
    }

    .toggle-dropdown {
        cursor: pointer;
    }

    .dropdown-list {
        display: none;
    }

    .toggle-dropdown.open+.dropdown-list {
        display: block;
    }

    .footer-section h3 {
        font-size: 16px;
        font-weight: normal;
    }
}