body {
    margin: 0;
    padding: 0;
}


.diamond2 {
    width: 500px;
    height: 500px;
    margin-top: -350px;
    margin-left: 400px;
    background: #FA8A03;
    position: absolute;
    left: 0;
    transform: rotate(45deg);
    opacity: 0.5;
    z-index: -1;
}

.diamond3 {
    margin-right: 600px;
    margin-top: 200px;
    width: 500px;
    height: 500px;
    background: #618F6C;
    position: absolute;
    right: 0;
    transform: rotate(45deg);
    opacity: 0.5;
    z-index: -1;
}



/* Barre de navigation */
.logo {
    /* À remplacer par le style approprié une fois que le GIF/image est ajouté */
    height: 35px;
    width: 35px;
}

.divider {
    margin-left: 5px;
    margin-right: 5px;
}

.brand-name {
    color: #2F918F;
    font-family: "MarkW01-Heavy";
    font-size: 17px;
}

.navbar {
    padding-left: 20px;
    padding-right: 20px;
    order: 1;
    border-bottom: 1px solid black;
}

.navbar .nav-item {
    margin-left: 10px;
    margin-right: 10px;
}

.navbar .nav-link {
    color: black;
    font-family: "MarkW01-Heavy";
    font-size: 15px;
}

.navbar .btn {
    padding: 10px 20px;
}

.navbar .btn-download {
    background-color: #2F918F;
    color: white;
}

.navbar .btn-connect {
    background-color: white;
    color: black;
    border-color: black;
}

.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

/* Page principal */
.main-section {
    background-color: #D9D9D9;
    border-right: 2px dashed black;
    border-left: 2px dashed black;
    padding: 50px 0;
    margin: 30px 100px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.text-section {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.text-section h1 {
    color: #2F918F;
    font-family: "MarkW01-Heavy";
    font-size: 30px;
    text-align: start;
    margin-bottom: 20px;
}

.text-section p {
    font-family: "Aeroport";
    font-size: 20px;
    text-align: start;
    max-width: 600px;
}

.text-section .btn-download {
    background-color: #2F918F;
    color: white;
    border-radius: 5px;
}

.gif-section {
    /* À remplacer par le style approprié une fois que le GIF est ajouté */
    justify-content: center;
    width: 800px;
    height: 500px;
}

/* Conteneur de la barre de progression */
.progress-bar-container {
    display: flex;
    justify-content: center;
    margin: 0 100px;
    margin-top: 0;
}

/* Barre de progression */
.progress-bar {
    width: calc(100% - 200px);
    height: 20px;
    background-color: black;
    border-radius: 0;
    overflow: hidden;
    margin: 0 auto;
}

.progress {
    height: 100%;
    background: linear-gradient(to right, #2F918F, #ff8a00);
    width: 0%;
    transition: width 2s ease;
    animation: progressAnimation 5s infinite;
}

@keyframes progressAnimation {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

/* Section des plateformes */
.platform-section {
    background-color: #000000;
    color: #2F918F;
    text-align: center;
    padding: 50px 100px;
    margin: 0px 100px 30px 100px;
}

.platform-title {
    font-family: "MarkW01-Heavy";
}

.platform-logos {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.platform-logos img {
    width: 50px;
}



/* Section application */

#app-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    margin: 30px 100px;
    margin-bottom: 0;
}

.app-img {
    max-height: 100px;
    /* À remplacer par le style approprié une fois que le GIF/image est ajouté */
    width: auto;
}

.app-content {
    text-align: center;
    margin-bottom: 30px;
}

.app-title {
    color: #2F918F;
    font-family: "MarkW01-Heavy";
    font-size: 30px;
    margin-bottom: 20px;
}

.app-text {
    color: #000000;
    font-family: "Aeroport";
    font-size: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.app-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.app-button {
    cursor: pointer;
    margin: 0 10px;
    position: relative;
}

.app-button img {
    width: 100px;
    height: auto;
    transition: opacity 0.3s;
}

.app-button:hover img {
    opacity: 0.7;
}

.app-button::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #2F918F;
    transition: width 0.3s;
}

.app-button:hover::after {
    width: 70%;
}

.app-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-gif img {
    width: 50%;
    height: auto;
}

.app-text-content {
    text-align: center;
    margin-left: 0;
}

.app-text-content p {
    color: #000000;
    font-family: "Aeroport";
    font-size: 20px;
    max-width: 600px;
    text-align: center;
    margin-left: 0;
}

.btn-download {
    background-color: #2F918F;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.download-section {
    background-color: #D9D9D9;
    padding: 50px;
    margin: 30px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-gif img {
    width: 800px;
    height: 500px;
    float: left;
    margin-right: 30px;
}

.download-content {
    width: 70%;
    text-align: center;
}

.download-content p {
    color: black;
    font-family: "Aeroport";
    font-size: 20px;
}

.btn-download {
    background-color: #2F918F;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}


/* Section creation */
.section-crea {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 30px 100px;
    gap: 50px;
}

.crea-text-section {
    width: 50%;
}

.crea-text-section h1 {
    color: #2F918F;
    font-family: "MarkW01-Heavy";
    font-size: 30px;
    margin-bottom: 20px;
}

.crea-subtitle {
    position: relative;
    margin-bottom: 20px;
    padding-left: 30px;
}

.crea-subtitle h2 {
    font-family: "MarkW01-Heavy";
    font-size: 24px;
    margin-bottom: 5px;
    cursor: pointer;
}

.crea-subtitle p {
    font-family: "Aeroport";
    font-size: 18px;
    display: none;
}

.crea-subtitle::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 60%;
    background-color: #2F918F;
}

.crea-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crea-image img {
    width: 100%;
    height: auto;
    display: none;
}

/* Afficher le contenu par défaut */
.crea-subtitle:first-child h2,
.crea-subtitle:first-child p {
    display: block;
}

.crea-image img:first-child {
    display: block;
}


/* Section media */

.title-container {
    text-align: center;
    margin-bottom: 50px;
}

.media-title {
    font-family: "MarkW01-Heavy";
    color: #2F918F;
    font-size: 24px;
}

.media-subtitle {
    font-family: "MarkW01-Heavy";
    color: #2F918F;
    font-size: 20px;
}

.rectangle-content h2.app-title {
    color: #FFFFFF;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}


.section-media {
    padding: 50px 0;
    margin: 30px 100px;
}

.media-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.rectangle-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
    flex: 1;
}

.rectangle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(45deg, #2F918F, #ff8a00);
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 20px;
    height: 100%;
    border-radius: 20px;
}

.rectangle:last-child {
    margin-bottom: 0;
}

.rectangle-image {
    text-align: center;
    height: 100%;
}

.rectangle-img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.rectangle-content {
    text-align: center;
}

.ratings {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

.rating-number {
    font-family: "MarkW01-Heavy";
    color: #2F918F;
    margin-right: 5px;
}

.stars {
    display: flex;
    align-items: center;
}

.star {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #FFFFFF;
    margin-right: 3px;
}

.star:before {
    content: "\2605";
    color: #2F918F;
}

.features {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
}

.feature {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid #2F918F;
    border-radius: 20px;
    font-family: "MarkW01-Heavy";
    color: #2F918F;
}

.rectangle-right {
    height: calc((200px + 40px) * 2);
    width: calc(50% - 60px);
}

.button-container {
    text-align: center;
    margin-top: 50px;
}

.see-more-btn {
    padding: 10px 20px;
    font-family: "MarkW01-Heavy";
    color: #FFFFFF;
    background-color: #2F918F;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.see-more-btn:hover {
    background-color: #216766;
}

/* Section commentaire */

.section-comment {
    background-color: black;
    padding: 50px;
    position: relative;
}

.comment-title {
    font-family: "MarkW01-Heavy";
    color: #2F918F;
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

.comment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.comment {
    text-align: center;
    margin-top: 20px;
}

.comment img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.arrow-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.arrow-container.arrow-left {
    left: 500px;
}

.arrow-container.arrow-right {
    right: 500px;
}

.arrow {
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-left:before {
    content: "\2039";
    color: black;
    font-size: 30px;
}

.arrow-right:before {
    content: "\203A";
    color: black;
    font-size: 30px;
}

/* Section FAQS */

.faq-answer p {
    font-family: "Aeroport";
    padding-right: 50px;
}

#section-faq {
    padding: 50px 100px;
    text-align: left;
}

#section-faq h2 {
    font-family: "MarkW01-Heavy";
    color: #2F918F;
    font-size: 24px;
    margin-bottom: 20px;
}

.faq-item {
    margin-bottom: 40px;
}

.faq-question {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq-question h3 {
    font-family: "MarkW01-Heavy";
    color: #000000;
    font-size: 18px;
    margin-bottom: 10px;
    flex: 1;
}

.faq-question .faq-toggle {
    background-color: #2F918F;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

.faq-question .faq-toggle-icon {
    font-size: 20px;
}

.faq-answer {
    color: #000000;
    font-family: "Aeroport";
    font-size: 16px;
    display: none;
}

.faq-answer p {
    color: black;
}

.faq-divider {
    height: 2px;
    background-color: black;
    margin: 20px 0;
}


/* Liens CT */

#section-outdoor {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 50px;
}

.blog-square {
    flex: 1;
    margin: 0 10px;
}

.square-content {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.square-content img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.square-text {
    font-family: "Aeroport", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.square-content:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Section Final */

#section-end {
    background-color: #2F918F;
    padding: 100px 0;
}

#section-end .logo {
    max-width: 300px;
    /* Ajustez cette valeur en fonction de la taille du logo */
    margin: 0 auto;
    display: block;
}

#section-end h2 {
    color: #ffffff;
    font-family: "MarkW01-Heavy";
    font-size: 30px;
    margin: 20px 0;
}

#section-end .cta-button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#section-end .cta-button:hover {
    background-color: #ffffff;
    color: #000000;
}


/* Pied de page */
footer {
    background-color: #000000;
    color: white;
    padding: 20px;
    font-family: "Aeroport";
}

.footer-container {
    margin: 0 100px;
    font-family: "Aeroport";
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.footer-section {
    flex: 1;
    margin-bottom: 20px;
}

.footer-section h3 {
    font-size: 20px;
    font-family: "MarkW01-Heavy";
    margin-bottom: 10px;
    text-align: left;
    cursor: pointer;
}

.dropdown-list {
    display: none;
    padding: 0;
}

.dropdown-list.open {
    display: block;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
    text-align: left;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid white;
    padding-top: 20px;
}