/* Format tablette */
@media (min-width: 768px) and (max-width: 1024px) {
    #app-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3.125rem 0;
        /* 50px */
        margin: 1.875rem 6.25rem 0;
        /* 30px 100px 0 */
      }
      
    .app-img {
        max-height: 30rem;
        /* 100px */
        /* À remplacer par le style approprié une fois que le GIF/image est ajouté */
        width: auto;
    }

    .app-content {
        text-align: center;
        margin-bottom: 1.875rem;
        /* 30px */
    }

    .app-title {
        color: #2F918F;
        font-family: "MarkW01-Heavy";
        font-size: 1.875rem;
        /* 30px */
        margin-bottom: 1.25rem;
        /* 20px */
    }

    .app-text {
        color: #000000;
        font-family: "Aeroport";
        font-size: 1.25rem;
        /* 20px */
        max-width: 37.5rem;
        /* 600px */
        margin: 0 auto;
        text-align: center;
      }
      
    .app-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }

    .app-button {
        cursor: pointer;
        margin: 0 5px;
        /* 0 5px */
        position: relative;
        flex: 0 0 20%;
        /* 35% */
        max-width: 10rem;
        /* 160px */

        img {
            width: 4.375rem;
            /* 70px */
            height: auto;
            transition: opacity 0.3s;
        }

        &:hover img {
            opacity: 0.7;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: -0.3125rem;
            /* -5px */
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0.0625rem;
            /* 1px */
            background-color: #2F918F;
            transition: width 0.3s;
        }

        &:hover::after {
            width: 1.25rem;
            /* 20px */
        }
    }

    .btn-download {
        background-color: #2F918F;
        color: white;
        border-radius: 0.3125rem;
        /* 5px */
        padding: 1.25rem 0.75rem;
        /* 16px 30px */
        border: none;
        cursor: pointer;
        font-family: "Aeroport";
        font-size: 1.25rem;
        /* 20px */
        transition: background-color 0.3s;

        &:hover {
            background-color: #216766;
        }
    }

    .app-section {
        display: flex;
        justify-content: center;
        align-items: center;

        .app-gif img {
            width: 50%;
            /* 50% */
            height: auto;
        }

        .app-text-content {
            text-align: center;
            margin-left: 0;

            p {
                color: #000000;
                font-family: "Aeroport";
                font-size: 1.25rem;
                /* 20px */
                max-width: 37.5rem;
                /* 600px */
                text-align: center;
                margin-left: 0;
            }
        }
    }

    .download-section {
        background-color: #D9D9D9;
        padding: 3.125rem;
        /* 50px */
        margin: 1.875rem 0;
        /* 30px 0 */
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .download-gif img {
            width: 50rem;
            /* 800px */
            height: 31.25rem;
            /* 500px */
            float: left;
            margin-right: 1.875rem;
            margin-left: -2rem;
            /* 30px */
        }

        .download-content {
            width: 70%;
            text-align: center;

            p {
                color: black;
                font-family: "Aeroport";
                font-size: 1.25rem;
                /* 20px */
            }

            .btn-download {
                display: inline-block;
                background-color: #2F918F;
                color: white;
                font-family: "MarkW01-Heavy";
                font-size: 17px;
                padding: 10px 20px;
                border-radius: 5px;
                border: none;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: #216766;
                }
            }
        }
    }

    #app-section .download-section .download-gif img {
        width: 100%;
        height: auto;
        padding-right: 0px;
        float: none;
    }

    .section-media .rectangle-right {
        height: calc((400px + 248px) * 2);
        width: calc(107% - 60px);
    }
}