/* Format tablette */
@media (min-width: 768px) and (max-width: 1024px) {
  .diamond2 {
    width: 25rem; /* 400px */
    height: 25rem; /* 400px */
    margin: -21.875rem 8.75rem; /* -350px 140px */
  }
  

  .diamond3 {
    margin: 18.75rem 8.75rem 0 0; /* 300px 140px 0 0 */
    width: 25rem; /* 400px */
    height: 25rem; /* 400px */
  }
  

  body {
    max-width: 64rem; 
    // 1024px
    margin: 0 auto;
  }
}