/* Format tablette */
@media (min-width: 768px) and (max-width: 1024px) {
  .progress-bar-container {
    margin: 0 1.25rem;
    /* 20px */
  }

  .progress-bar {
    width: calc(100% - 2.5rem);
    margin-left: 1.22rem;
    /* 40px */
  }

  .download-section .gif-section {
    display: flex;
    justify-content: center;
    align-items: center; /* Ajout */
  }

  .download-section .gif-section img {
    width: 100%;
    height: auto;
  }

  .download-section .text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
