/* Format tablette */
@media (min-width: 768px) and (max-width: 1024px) {
  .main-section {
    margin: 1.875rem 1.25rem 0 1.25rem; 
    // 30px 20px 0 20px
    margin-bottom: 0px;
    padding: 3.125rem 1.25rem; 
    // 50px 20px
    padding-bottom: 3.125rem; 
    // 50px
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}