/* Body */

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

header,
nav,
aside,
section,
article {
  margin-bottom: 1rem;
}


section {
  padding: 20rem;
}

.diamond2 {
  width: 50rem;
  height: 50rem;
  margin: -30rem 0 0 52.4rem;
  background: #FA8A03;
  position: absolute;
  left: 0;
  transform: rotate(45deg);
  opacity: 0.5;
  z-index: -1;
}


.diamond3 {
  margin: 20rem 40rem 0 0;
  width: 40rem;
  height: 40rem;
  background: #618F6C;
  position: absolute;
  right: 0;
  transform: rotate(45deg);
  opacity: 0.5;
  z-index: -1;
}


.download-gif {
  width: 100%;
  max-width: 50rem;
}

.diamond-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app-section .app-content,
#app-section .download-section {
  position: relative;
}
