@charset "UTF-8";
/* Variables */
/* Mixins */
#app-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.125rem 0;
  /* 50px */
  margin: 1.875rem 6.25rem 0;
  /* 30px 100px 0 */ }
  #app-section .app-img {
    max-height: 6.25rem;
    /* 100px */
    width: auto; }
  #app-section .app-content {
    text-align: center;
    margin-bottom: 1.875rem;
    /* 30px */ }
    #app-section .app-content .app-title {
      color: #2F918F;
      font-family: "MarkW01-Heavy";
      font-size: 1.875rem;
      /* 30px */
      margin-bottom: 1.25rem;
      /* 20px */ }
    #app-section .app-content .app-text {
      color: #000000;
      font-family: "Aeroport";
      font-size: 1.25rem;
      /* 20px */
      max-width: 37.5rem;
      /* 600px */
      margin: 0 auto;
      text-align: center; }
  #app-section .app-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0; }
    #app-section .app-buttons .app-button {
      cursor: pointer;
      margin: 0 0.625rem;
      /* 0 10px */
      position: relative; }
      #app-section .app-buttons .app-button img {
        width: 6.25rem;
        /* 100px */
        height: auto;
        transition: opacity 0.3s; }
        #app-section .app-buttons .app-button img:hover {
          opacity: 0.7; }
      #app-section .app-buttons .app-button::after {
        content: "";
        position: absolute;
        bottom: -0.625rem;
        /* -10px */
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0.125rem;
        /* 2px */
        background-color: #2F918F;
        transition: width 0.3s; }
      #app-section .app-buttons .app-button:hover::after {
        width: 2rem;
        /* 32px */ }
  #app-section .btn-download {
    background-color: #2F918F;
    color: white;
    border-radius: 0.3125rem;
    /* 5px */
    padding: 1.25rem 2.5rem;
    /* 20px 40px */
    border: none;
    cursor: pointer;
    font-family: "Aeroport";
    font-size: 1.25rem;
    /* 20px */
    transition: background-color 0.3s; }
    #app-section .btn-download:hover {
      background-color: #216766; }
  #app-section .app-section {
    display: flex;
    justify-content: center;
    align-items: center; }
    #app-section .app-section .app-gif img {
      width: 50%;
      /* 50% */
      height: auto; }
    #app-section .app-section .app-text-content {
      text-align: center;
      margin-left: 0; }
      #app-section .app-section .app-text-content p {
        color: #000000;
        font-family: "Aeroport";
        font-size: 1.25rem;
        /* 20px */
        max-width: 37.5rem;
        /* 600px */
        text-align: center;
        margin-left: 0; }
  #app-section .download-section {
    background-color: rgba(217, 217, 217, 0.8);
    padding: 3.125rem;
    /* 50px */
    margin: 1.875rem 0;
    /* 30px 0 */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    #app-section .download-section .download-gif img {
      width: 50rem;
      /* 800px */
      height: 31.25rem;
      /* 500px */
      float: left;
      margin-right: 1.875rem;
      /* 30px */ }
    #app-section .download-section .download-content {
      width: 70%;
      text-align: center; }
      #app-section .download-section .download-content p {
        color: black;
        font-family: "Aeroport";
        font-size: 1.25rem;
        /* 20px */ }
      #app-section .download-section .download-content .btn-download {
        display: inline-block;
        background-color: #2F918F;
        color: white;
        font-family: "MarkW01-Heavy";
        font-size: 1.0625rem;
        /* 17px */
        padding: 0.625rem 1.25rem;
        /* 10px 20px */
        border-radius: 0.3125rem;
        /* 5px */
        border: none;
        cursor: pointer;
        transition: background-color 0.3s; }
        #app-section .download-section .download-content .btn-download:hover {
          background-color: #216766; }

/* Download Section */
.progress-bar {
  width: 100%;
  height: 1.25rem;
  border-radius: 0;
  overflow: hidden;
  background-color: black;
  margin-left: 0;
  margin-right: 0; }

.progress-bar .progress {
  height: 100%;
  background: linear-gradient(to right, #2F918F, #ff8a00);
  width: 0%;
  transition: width 2s ease;
  animation: progressAnimation 5s infinite; }

@keyframes progressAnimation {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

/* Crea Section */
.section-crea {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 1.875rem 6.25rem;
  gap: 3.125rem; }

.section-crea .crea-text-section {
  width: 50%; }

.section-crea .crea-text-section h1 {
  color: #2F918F;
  font-family: "MarkW01-Heavy";
  font-size: 1.875rem;
  margin-bottom: 3.25rem; }

.section-crea .crea-text-section .crea-subtitle {
  position: relative;
  margin-bottom: 1.25rem;
  padding-left: 1.875rem; }

.section-crea .crea-text-section .crea-subtitle h2 {
  font-family: "MarkW01-Heavy";
  font-size: 1.5rem;
  margin-bottom: 2.25rem;
  cursor: pointer; }

.section-crea .crea-text-section .crea-subtitle p {
  font-family: "Aeroport";
  font-size: 1.125rem;
  display: none; }

.section-crea .crea-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }

.section-crea .crea-image img {
  width: 100%;
  height: auto;
  display: none; }

.section-crea .crea-subtitle:first-child h2,
.section-crea .crea-subtitle:first-child p {
  display: block; }

.section-crea .crea-image img:first-child {
  display: block; }

/* Media Section */
.title-container {
  text-align: center;
  margin-bottom: 3.125rem; }

.title-container .media-title {
  font-family: "MarkW01-Heavy";
  color: #2F918F;
  font-size: 1.5rem; }

.title-container .media-subtitle {
  font-family: "MarkW01-Heavy";
  color: #2F918F;
  font-size: 1.25rem; }

.section-media {
  padding: 3.125rem 0;
  margin: 1.875rem 6.25rem; }

.section-media .media-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; }

.section-media .rectangle-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1.25rem;
  flex: 1; }

.section-media .rectangle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(45deg, #2F918F, #ff8a00);
  border: 2px solid black;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
  height: 100%;
  border-radius: 1.25rem; }

.section-media .rectangle:last-child {
  margin-bottom: 0; }

.section-media .rectangle .rectangle-image {
  text-align: center;
  height: 100%; }

.section-media .rectangle .rectangle-img {
  width: 100%;
  height: auto;
  border-radius: 1.25rem; }

.section-media .rectangle .rectangle-content {
  text-align: center; }

.section-media .rectangle .ratings {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.625rem;
  background-color: white;
  border: none;
  padding: 0.625rem; }

.section-media .rectangle .rating-number {
  font-family: "MarkW01-Heavy";
  color: #2F918F;
  margin-right: 0.3125rem; }

.section-media .rectangle .stars {
  display: flex;
  align-items: center; }

.section-media .rectangle .star {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  color: #2F918F;
  margin-right: 0.1875rem; }

.section-media .rectangle .features {
  display: flex;
  flex-direction: column;
  margin: 0.625rem 0 0 0.625rem; }

.section-media .rectangle .feature {
  display: inline-block;
  margin: 0 0.625rem 0.625rem 0;
  padding: 0.3125rem 0.625rem;
  border: 1px solid #2F918F;
  border-radius: 1.25rem;
  color: #2F918F; }

.section-media .rectangle-right {
  height: calc((200px + 248px) * 2);
  width: calc(50% - 60px); }

.section-media .button-container {
  text-align: center;
  margin-top: 3.125rem; }

.section-media .see-more-btn {
  padding: 0.625rem 1.25rem;
  font-family: "MarkW01-Heavy";
  color: #FFFFFF;
  background-color: #2F918F;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease; }

.section-media .see-more-btn:hover {
  background-color: #216766; }

#app-section .download-section .download-gif img {
  width: 50rem;
  height: 31.25rem;
  float: left;
  margin-right: 1.875rem; }

/* Comment Section */
.section-comment {
  background-color: black;
  padding: 3.125rem;
  position: relative; }

.section-comment .comment-title {
  font-family: "MarkW01-Heavy";
  color: #2F918F;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1.875rem; }

.section-comment .comment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white; }

.section-comment .comment-container .comment {
  text-align: center;
  margin-top: 1.25rem; }

.section-comment .comment-container .comment img {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  object-fit: cover; }

.section-comment .arrow-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  cursor: pointer; }

.section-comment .arrow-container.arrow-left {
  left: 31.25rem; }

.section-comment .arrow-container.arrow-right {
  right: 31.25rem; }

.section-comment .arrow-container .arrow {
  width: 3.125rem;
  height: 3.125rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center; }

.section-comment .arrow-container .arrow:before {
  content: "\2039";
  color: black;
  font-size: 1.875rem; }

.section-comment .arrow-container.arrow-right .arrow:before {
  content: "\203A"; }

/* Main Section */
.main-section {
  background: linear-gradient(to bottom, #D9D9D9, #FFFFFF);
  border-right: 0.125rem dashed black;
  border-left: 0.125rem dashed black;
  padding: 5rem 0 0;
  margin-top: -2rem;
  /* margin: 1.875rem 6.25rem 0; */ }

.main-section .text-section {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; }

.main-section .text-section h1 {
  color: #2F918F;
  font-family: "Lato";
  font-size: 2.875rem;
  text-align: left;
  margin-bottom: 1.25rem; }

.main-section .text-section p {
  font-family: "poppins";
  font-size: 1.25rem;
  text-align: left;
  max-width: 37.5rem; }

.main-section .text-section .btn-download {
  background-color: #2F918F;
  color: white;
  border-radius: 0.3125rem;
  padding: 1.25rem 2.5rem;
  font-size: 1.5rem; }

.main-section .gif-section {
  justify-content: flex-end;
  width: 60%;
  height: 37.5rem;
  overflow: hidden; }

.main-section .gif-section img {
  width: 100%;
  height: 80%;
  object-fit: cover; }

/* Platform Section */
.platform-section {
  background-color: #000000;
  color: #2F918F;
  text-align: center;
  padding: 3.125rem 6.25rem;
  /* margin: -2.4rem 6.25rem 1.875rem 6.25rem; */ }
  .platform-section .platform-title {
    margin-top: 0.625rem;
    font-family: "MarkW01-Heavy"; }
  .platform-section .platform-logos {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    margin-top: 1.25rem;
    font-size: 3.5rem; }

/* FAQ Section */
.faq-answer p {
  font-family: "Aeroport";
  padding-right: 3.125rem; }

#section-faq {
  padding: 3.125rem 6.25rem;
  text-align: left; }

#section-faq h2 {
  font-family: "MarkW01-Heavy";
  color: #2F918F;
  font-size: 1.5rem;
  margin-bottom: 1.25rem; }

.faq-item {
  margin-bottom: 2.5rem; }

.faq-question {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.faq-question h3 {
  font-family: "MarkW01-Heavy";
  color: #000000;
  font-size: 1.125rem;
  margin-bottom: 0.625rem;
  flex: 1; }

.faq-toggle {
  background-color: #2F918F;
  color: white;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.625rem;
  cursor: pointer; }

.faq-toggle .faq-toggle-icon {
  font-size: 1.25rem; }

.faq-answer {
  color: #000000;
  font-family: "Aeroport";
  font-size: 1rem;
  display: none; }

.faq-answer p {
  color: black; }

.faq-divider {
  height: 0.125rem;
  background-color: black;
  margin: 1.25rem 0; }

/* Links Section */
#section-outdoor {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 3.125rem; }

.blog-square {
  flex: 1;
  margin: 0 0.625rem; }

.square-content {
  height: 18.75rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding: 1.25rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease; }

.square-content img {
  width: 9.375rem;
  height: 9.375rem;
  margin-bottom: 0.625rem; }

.square-content .square-text {
  font-family: "Aeroport", sans-serif;
  font-size: 1rem;
  line-height: 1.5; }

.square-content:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Final Section */
#section-end {
  background-color: #2F918F;
  padding: 6.25rem 0; }

#section-end .logo {
  width: 17rem;
  height: auto; }

#section-end h2 {
  color: #ffffff;
  font-family: "MarkW01-Heavy";
  font-size: 1.875rem;
  margin: 1.25rem 0; }

#section-end .cta-button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 0.9375rem 1.875rem;
  font-size: 1.125rem;
  cursor: pointer;
  border-radius: 0.3125rem;
  transition: background-color 0.3s; }

#section-end .cta-button:hover {
  background-color: #ffffff;
  color: #000000; }

/* Footer */
footer {
  background-color: #000000;
  color: white;
  margin-top: -2rem;
  padding: 1.25rem;
  font-family: "Aeroport"; }

.footer-container {
  margin: 0 6.25rem;
  font-family: "Aeroport"; }

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.875rem; }

.footer-section {
  flex: 1;
  margin-bottom: 1.25rem; }

.footer-section h3 {
  font-size: 1.25rem;
  font-family: "MarkW01-Heavy";
  margin-bottom: 0.625rem;
  text-align: left;
  cursor: pointer; }

.dropdown-list {
  display: none;
  padding: 0; }

.dropdown-list.open {
  display: block; }

.footer-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.footer-section ul li {
  margin-bottom: 0.3125rem;
  text-align: left; }

.footer-section ul li a {
  color: white;
  text-decoration: none; }

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid white;
  padding-top: 1.25rem; }

.navbar {
  padding: 0 1.25rem;
  order: 1;
  border-bottom: 1px solid black; }
  .navbar .logo {
    height: 2.1875rem;
    width: 2.1875rem; }
  .navbar .divider {
    margin: 0 0.3125rem; }
  .navbar .brand-name {
    color: #2F918F;
    font-family: "MarkW01-Heavy";
    font-size: 1.0625rem; }
  .navbar.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999; }
  .navbar .nav-item {
    margin: 1rem 0.625rem; }
    .navbar .nav-item .nav-link {
      color: black;
      font-family: "MarkW01-Heavy";
      font-size: 0.9375rem; }
  .navbar .btn {
    padding: 0.625rem 1.25rem; }
  .navbar .btn-download,
  .navbar .download-link {
    background-color: #2F918F;
    color: white; }
  .navbar .btn-connect {
    background-color: white;
    color: black;
    border-color: black; }

/* Body */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; }

header,
nav,
aside,
section,
article {
  margin-bottom: 1rem; }

section {
  padding: 20rem; }

.diamond2 {
  width: 50rem;
  height: 50rem;
  margin: -30rem 0 0 52.4rem;
  background: #FA8A03;
  position: absolute;
  left: 0;
  transform: rotate(45deg);
  opacity: 0.5;
  z-index: -1; }

.diamond3 {
  margin: 20rem 40rem 0 0;
  width: 40rem;
  height: 40rem;
  background: #618F6C;
  position: absolute;
  right: 0;
  transform: rotate(45deg);
  opacity: 0.5;
  z-index: -1; }

.download-gif {
  width: 100%;
  max-width: 50rem; }

.diamond-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }

#app-section .app-content,
#app-section .download-section {
  position: relative; }

/* Ordinateurs Portables */
@media (min-width: 992px) {
  /* Section application */
  #app-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.125rem 0;
    /* 50px */
    margin: 1.875rem 3.125rem 0;
    /* 30px 50px 0 */ }
  .app-content {
    text-align: center;
    margin-bottom: 1.875rem;
    /* 30px */ }
  .app-title {
    color: #2F918F;
    font-family: "MarkW01-Heavy";
    font-size: 1.875rem;
    /* 30px */
    margin-bottom: 1.25rem;
    /* 20px */ }
  .app-text {
    color: #000000;
    font-family: "Aeroport";
    font-size: 1.25rem;
    /* 20px */
    max-width: 37.5rem;
    /* 600px */
    margin: 0 auto;
    /* 0 top/bottom, auto left/right */
    text-align: center; }
  .app-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px; }
  .app-button {
    cursor: pointer;
    margin: 0 0.625rem;
    /* 10px */
    position: relative; }
  .app-button img {
    width: 6.25rem;
    /* 100px */
    height: auto;
    transition: opacity 0.3s; }
  .app-button:hover img {
    opacity: 0.7; }
  .app-button::after {
    content: "";
    position: absolute;
    bottom: -0.3125rem;
    /* -10px */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0.125rem;
    /* 2px */
    background-color: #2F918F;
    transition: width 0.3s; }
  .app-button:hover::after {
    width: 2.75rem;
    /* 44px */ }
  .download-text-content {
    text-align: center;
    margin-left: 3.125rem;
    /* 50px */ }
  .download-text-content p {
    color: black;
    font-family: "Aeroport";
    font-size: 1.25rem;
    /* 20px */ }
  .btn-download {
    background-color: #2F918F;
    color: white;
    border-radius: 0.3125rem;
    /* 5px */
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
    border: none;
    cursor: pointer; }
  #app-section .download-section .download-gif img {
    width: 100%;
    height: auto;
    padding-right: 0px;
    float: left; }
  .progress-bar .progress {
    height: 100%;
    background: linear-gradient(to right, #2F918F, #ff8a00);
    width: 0%;
    transition: width 2s ease;
    animation: progressAnimation 5s infinite;
    margin: 0 auto; } }

/*Ordinateurs Portables */
@media (min-width: 992px) {
  /* Section creation */
  .section-crea {
    padding: 0px;
    box-sizing: border-box; }
  .crea-text-section,
  .crea-image {
    width: 45%; }
  .crea-text-section h1 {
    font-size: 1.5rem;
    /* 24px */ }
  .crea-subtitle h2 {
    font-size: 1.25rem;
    /* 20px */ }
  .crea-subtitle p {
    font-size: 1rem;
    /* 16px */ }
  .crea-image img {
    max-width: 80%; } }

/* Ordinateurs Portables */
@media (min-width: 992px) {
  /* Section media */
  .rectangle-content {
    font-size: 1rem;
    /* 16px */ }
  .ratings {
    margin-top: 0.3125rem;
    /* 5px */ }
  .rating-number {
    font-size: 0.875rem;
    /* 14px */
    margin-right: 0.1875rem;
    /* 3px */ }
  .stars {
    display: flex;
    margin-top: 0.1875rem;
    /* 3px */ }
  .star {
    width: 0.75rem;
    /* 12px */
    height: 0.75rem;
    /* 12px */
    margin-right: 0.125rem;
    /* 2px */ }
  .features {
    margin-top: 0.625rem;
    /* 10px */ }
  .feature {
    margin-right: 0.3125rem;
    /* 5px */
    padding: 0.1875rem 0.375rem;
    /* 3px 6px */
    font-size: 0.75rem;
    /* 12px */ } }

/* CSS pour Ordinateurs Portables */
@media (min-width: 992px) {
  /* Section commentaire */
  .section-comment {
    background-color: black;
    padding: 3.125rem;
    /* 50px */
    position: relative; }
  .comment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; }
  .comment {
    text-align: center;
    margin-top: 1.25rem;
    /* 20px */ }
  img {
    width: auto;
    height: auto; }
  .arrow-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    cursor: pointer; }
  .arrow-container.arrow-left {
    left: 6.25rem;
    /* 100px */ }
  .arrow-container.arrow-right {
    right: 6.25rem;
    /* 100px */ }
  .arrow {
    width: 2.5rem;
    /* 40px */
    height: 2.5rem;
    /* 40px */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center; }
  .arrow-left:before {
    content: "\2039";
    color: black;
    font-size: 1.875rem;
    /* 30px */ }
  .arrow-right:before {
    content: "\203A";
    color: black;
    font-size: 1.875rem;
    /* 30px */ } }

/*Ordinateurs Portables */
@media (min-width: 992px) {
  /* Section principal */
  .gif-section img {
    width: 100%;
    height: auto; } }

/* Format tablette */
@media (min-width: 768px) and (max-width: 1024px) {
  .diamond2 {
    width: 25rem;
    /* 400px */
    height: 25rem;
    /* 400px */
    margin: -21.875rem 8.75rem;
    /* -350px 140px */ }
  .diamond3 {
    margin: 18.75rem 8.75rem 0 0;
    /* 300px 140px 0 0 */
    width: 25rem;
    /* 400px */
    height: 25rem;
    /* 400px */ }
  body {
    max-width: 64rem;
    margin: 0 auto; } }

/* Format tablette */
@media (min-width: 768px) and (max-width: 1024px) {
  #app-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.125rem 0;
    /* 50px */
    margin: 1.875rem 6.25rem 0;
    /* 30px 100px 0 */ }
  .app-img {
    max-height: 30rem;
    /* 100px */
    /* À remplacer par le style approprié une fois que le GIF/image est ajouté */
    width: auto; }
  .app-content {
    text-align: center;
    margin-bottom: 1.875rem;
    /* 30px */ }
  .app-title {
    color: #2F918F;
    font-family: "MarkW01-Heavy";
    font-size: 1.875rem;
    /* 30px */
    margin-bottom: 1.25rem;
    /* 20px */ }
  .app-text {
    color: #000000;
    font-family: "Aeroport";
    font-size: 1.25rem;
    /* 20px */
    max-width: 37.5rem;
    /* 600px */
    margin: 0 auto;
    text-align: center; }
  .app-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0; }
  .app-button {
    cursor: pointer;
    margin: 0 5px;
    /* 0 5px */
    position: relative;
    flex: 0 0 20%;
    /* 35% */
    max-width: 10rem;
    /* 160px */ }
    .app-button img {
      width: 4.375rem;
      /* 70px */
      height: auto;
      transition: opacity 0.3s; }
    .app-button:hover img {
      opacity: 0.7; }
    .app-button::after {
      content: "";
      position: absolute;
      bottom: -0.3125rem;
      /* -5px */
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0.0625rem;
      /* 1px */
      background-color: #2F918F;
      transition: width 0.3s; }
    .app-button:hover::after {
      width: 1.25rem;
      /* 20px */ }
  .btn-download {
    background-color: #2F918F;
    color: white;
    border-radius: 0.3125rem;
    /* 5px */
    padding: 1.25rem 0.75rem;
    /* 16px 30px */
    border: none;
    cursor: pointer;
    font-family: "Aeroport";
    font-size: 1.25rem;
    /* 20px */
    transition: background-color 0.3s; }
    .btn-download:hover {
      background-color: #216766; }
  .app-section {
    display: flex;
    justify-content: center;
    align-items: center; }
    .app-section .app-gif img {
      width: 50%;
      /* 50% */
      height: auto; }
    .app-section .app-text-content {
      text-align: center;
      margin-left: 0; }
      .app-section .app-text-content p {
        color: #000000;
        font-family: "Aeroport";
        font-size: 1.25rem;
        /* 20px */
        max-width: 37.5rem;
        /* 600px */
        text-align: center;
        margin-left: 0; }
  .download-section {
    background-color: #D9D9D9;
    padding: 3.125rem;
    /* 50px */
    margin: 1.875rem 0;
    /* 30px 0 */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .download-section .download-gif img {
      width: 50rem;
      /* 800px */
      height: 31.25rem;
      /* 500px */
      float: left;
      margin-right: 1.875rem;
      margin-left: -2rem;
      /* 30px */ }
    .download-section .download-content {
      width: 70%;
      text-align: center; }
      .download-section .download-content p {
        color: black;
        font-family: "Aeroport";
        font-size: 1.25rem;
        /* 20px */ }
      .download-section .download-content .btn-download {
        display: inline-block;
        background-color: #2F918F;
        color: white;
        font-family: "MarkW01-Heavy";
        font-size: 17px;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s; }
        .download-section .download-content .btn-download:hover {
          background-color: #216766; }
  #app-section .download-section .download-gif img {
    width: 100%;
    height: auto;
    padding-right: 0px;
    float: none; }
  .section-media .rectangle-right {
    height: calc((400px + 248px) * 2);
    width: calc(107% - 60px); } }

/* Format tablette */
@media (min-width: 768px) and (max-width: 1024px) {
  .progress-bar-container {
    margin: 0 1.25rem;
    /* 20px */ }
  .progress-bar {
    width: calc(100% - 2.5rem);
    margin-left: 1.22rem;
    /* 40px */ }
  .download-section .gif-section {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Ajout */ }
  .download-section .gif-section img {
    width: 100%;
    height: auto; }
  .download-section .text-section {
    display: flex;
    flex-direction: column;
    align-items: center; } }

/* Tablettes */
@media (min-width: 768px) and (max-width: 991px) {
  /* Section creation */
  .section-crea {
    padding: 0;
    box-sizing: border-box; }
  .crea-text-section,
  .crea-image {
    width: 60%; }
  .crea-text-section h1 {
    font-size: 1.5rem;
    /* 24px */ }
  .crea-subtitle h2 {
    font-size: 1.25rem;
    /* 20px */ }
  .crea-subtitle p {
    font-size: 1rem;
    /* 16px */ }
  .crea-image img {
    max-width: 80%; } }

/* Format tablette */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Section media */
  .rectangle-container {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 1.25rem;
    /* 20px */ }
  .rectangle-right {
    width: 100%; }
  .section-media .rectangle-right {
    height: calc((0px + 248px) * 2);
    width: calc(107% - 60px); } }

/* Format tablette */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Section commentaire */
  .section-comment .arrow-container .arrow {
    width: 2.125rem;
    height: 2.125rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center; } }

/* Format tablette */
@media (min-width: 768px) and (max-width: 1024px) {
  .main-section {
    margin: 1.875rem 1.25rem 0 1.25rem;
    /* 30px 20px 0 20px */
    padding: 3.125rem 1.25rem 3.125rem;
    /* 50px 20px 50px */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

/* Format tablette */
@media (min-width: 768px) and (max-width: 1024px) {
  .platform-section {
    padding: 3.125rem 1.25rem;
    /* 50px 20px */
    margin: 0 1.25rem 1.875rem 1.25rem;
    /* 0 20px 30px 20px */ } }

/* Format tablette */
@media (min-width: 768px) and (max-width: 1024px) {
  /* Pied de page */
  .footer-top {
    flex-direction: column;
    align-items: center; }
  .footer-section {
    text-align: center; } }

/* Format tablette */
@media (min-width: 768px) {
  .navigation-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
    background-color: #2F918F;
    color: white; }
  .navigation-bar .logo {
    font-family: "MarkW01-Heavy";
    font-size: 1.25rem;
    /* 20px */ }
  .navigation-bar .menu-toggle {
    display: none; }
  .navigation-bar .menu-items {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .navigation-bar .menu-item {
    margin-left: 1.25rem;
    /* 20px */ }
  .navigation-bar .menu-item:first-child {
    margin-left: 0; }
  .navigation-bar .menu-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    /* 16px */ } }

/* Format mobile */
@media (max-width: 767px) {
  .app-content {
    flex-direction: column;
    padding: 3.125rem 5rem;
    /* 50px 80px */
    margin-top: -6.25rem;
    /* -100px */ }
  .app-button {
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 0.9375rem;
    /* 15px */
    height: 0.9375rem;
    /* 15px */
    border-radius: 50%;
    background-color: transparent;
    border: 0.125rem solid #2F918F;
    /* 2px */
    margin: 0.125rem;
    /* 2px */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s; }
  .app-button:hover {
    background-color: #2F918F; }
  .app-button img {
    display: none; }
  #app-section .download-section {
    background-color: #D9D9D9;
    padding: 3.125rem;
    margin: -1.25rem;
    /* -20px */
    width: 21.875rem;
    /* 350px */
    display: flex;
    align-items: center;
    justify-content: center; }
  .download-section {
    background-color: #D9D9D9;
    padding: 0;
    margin: 1.875rem 0;
    /* 30px */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    /* 400% */ }
  .download-section:before {
    content: "";
    display: block;
    padding-top: 100%; }
  .download-gif {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .download-text-content {
    order: 2;
    margin-bottom: 0.625rem;
    /* 10px */ }
  .app-title,
  .app-text {
    text-align: center; }
  .btn-download {
    display: block;
    margin-top: 1.25rem;
    /* 20px */ }
  .download-gif img {
    width: 100%;
    height: auto; }
  .download-text-content p {
    text-align: center; }
  .btn-download {
    margin: 1.25rem 0 0 60px; }
  .app-section {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .app-gif img {
    width: 100%;
    height: auto; }
  .app-text-content {
    text-align: center;
    margin-left: 0; }
    .app-text-content p {
      color: #000000;
      font-family: "Aeroport";
      font-size: 1.25rem;
      /* 20px */
      max-width: 37.5rem;
      /* 600px */
      text-align: center;
      margin-left: 0; }
  #app-section {
    margin: 0px;
    padding: 0rem; }
  .app-content {
    margin: 0;
    padding: 0 0 1rem; }
  #app-section .download-section .download-gif img {
    width: 100%;
    height: auto;
    padding-right: 0px;
    float: none; }
  #app-section .app-content .app-text {
    padding: 0rem 1rem; }
  #app-section .app-content .app-text {
    margin-bottom: 2rem; } }

/* Format mobile */
@media (max-width: 767px) {
  .diamond2,
  .diamond3 {
    display: none; } }

/* Format mobile */
@media (max-width: 767px) {
  .progress-bar-container {
    margin: 0 1.25rem;
    /* 20px */ }
  .progress-bar {
    width: calc(100% - 2.5rem);
    margin-left: 1.22rem;
    /* 40px */ }
  .download-text-content p {
    color: black;
    font-family: "Aeroport";
    font-size: 1.25rem; }
  .btn-download {
    background-color: #2F918F;
    color: white;
    border-radius: 0.3125rem;
    padding: 0.625rem 1.25rem;
    border: none;
    cursor: pointer; }
  .download-text-content {
    margin-top: 1rem; } }

/* Format mobile */
@media (max-width: 767px) {
  #section-faq {
    padding: 1.875rem;
    /* 30px */ }
  #section-faq h2 {
    font-size: 1.25rem;
    /* 20px */
    margin-bottom: 0.9375rem;
    /* 15px */ }
  .faq-question h3 {
    font-size: 1rem;
    /* 16px */
    margin-bottom: 0.5rem;
    /* 8px */ }
  .faq-question .faq-toggle {
    width: 1.5rem;
    /* 24px */
    height: 1.5rem;
    /* 24px */
    margin-left: 0.375rem;
    /* 6px */ }
  .faq-question .faq-toggle-icon {
    font-size: 1rem;
    /* 16px */ }
  .faq-answer {
    font-size: 0.875rem;
    /* 14px */ }
  .faq-divider {
    margin: 0.9375rem 0;
    /* 15px */ } }

/* Format mobile */
@media (max-width: 767px) {
  .footer-top {
    flex-direction: column;
    align-items: center; }
  .footer-container {
    margin: 0; }
  .footer-section {
    text-align: center; }
  .toggle-dropdown {
    cursor: pointer; }
  .dropdown-list {
    display: none; }
  .toggle-dropdown.open + .dropdown-list {
    display: block; }
  .footer-section h3 {
    font-size: 1rem;
    /* 16px */
    font-weight: normal; } }

/* Format mobile */
@media (max-width: 767px) {
  #section-outdoor {
    flex-direction: column;
    align-items: center;
    padding: 1.875rem;
    /* 30px */ }
  .blog-square {
    width: 100%;
    height: 12.5rem;
    /* 200px */
    margin: 0.625rem 0;
    /* 10px */
    flex-direction: column; }
    .blog-square .square-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; } }

@media (max-width: 767px) {
  .main-section {
    margin: 1.25rem;
    margin-bottom: 0;
    padding: 1.25rem 0; }
  .main-section .text-section .btn-download {
    margin: 5px 0 15px 0;
    padding: 0.225rem 0.675rem;
    font-size: 0.875rem; }
  .main-section .gif-section {
    width: 100%; }
  .main-section .gif-section img {
    height: 100%; }
  .main-section .gif-section {
    height: auto; } }

/* Format mobile */
@media (max-width: 767px) {
  .platform-section {
    margin: -1.25rem 1.25rem 1.875rem 1.25rem;
    /* -20px 20px 30px 20px */
    padding: 3.125rem 1.25rem;
    /* 50px 20px */
    order: 4; }
    .platform-section .platform-logos {
      font-size: 1.5rem; } }

/* Format mobile */
@media (max-width: 767px) {
  .comment-title {
    margin-bottom: 3.125rem;
    /* 50px */ }
  .arrow-container.arrow-left {
    left: 0.625rem;
    /* 10px */ }
  .arrow-container.arrow-right {
    right: 0.625rem;
    /* 10px */ }
  .arrow {
    width: 1.875rem;
    /* 30px */
    height: 1.875rem;
    /* 30px */ }
  .arrow-left:before {
    font-size: 1.25rem;
    /* 20px */ }
  .arrow-right:before {
    font-size: 1.25rem;
    /* 20px */ }
  .section-comment {
    padding: 1.875rem;
    /* 30px */ }
  .comment-container {
    color: white; }
  img {
    width: auto;
    height: auto; }
  .section-comment .arrow-container.arrow-left {
    left: 30px;
    /* 500px */ }
  .section-comment .arrow-container.arrow-right {
    right: 30px;
    /* 500px */ } }

/* Appareils mobiles */
@media (max-width: 767px) {
  /* Section creation */
  .section-crea {
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0; }
  .crea-text-section {
    width: 100%;
    text-align: left;
    margin: 3.125rem 3.125rem 0;
    /* 50px 50px 0 */ }
  .crea-text-section h1 {
    font-size: 1.25rem;
    /* 20px */ }
  .crea-subtitle h2 {
    font-size: 1rem;
    /* 16px */ }
  .crea-subtitle p {
    font-size: 0.875rem;
    /* 14px */ }
  .crea-image {
    order: 2;
    margin: 1.875rem 0 0;
    margin-left: 5rem;
    /* 30px 0 0 */ }
  .crea-image img {
    margin: -3.125rem 9.375rem 3.125rem;
    /* -50px 150px 50px */
    width: 100%; } }

/* Format mobile */
@media (max-width: 767px) {
  .title-container,
  .media-container {
    display: none; }
  .button-container {
    text-align: center;
    margin-top: 1.25rem;
    /* 20px */ }
  .section-media {
    padding: 0;
    margin: 0.5rem; }
  .title-container,
  .media-container {
    display: block; }
  .rectangle-container {
    margin-right: 0; }
  .rectangle-right {
    height: auto;
    width: 100%;
    margin-top: 1.25rem;
    /* 20px */ }
  .features {
    display: flex;
    align-items: center;
    justify-content: center; }
    .features .feature {
      font-size: 0.75rem;
      /* 12px */
      margin-right: 0.25rem;
      /* 4px */
      padding: 0.25rem 0.5rem;
      background-color: #f5f5f5;
      border-radius: 0.3125rem;
      /* 5px */ }
  .section-media .rectangle-right {
    height: calc((0px + 248px) * 2);
    width: calc(130% - 60px); } }

/* Police */
@font-face {
  font-family: "MarkW01-Heavy";
  src: url("file:///C:/Users/meas_/Documents/streamcave/streamcave2/streamcave/sitevitrine/police/mark_w01.woff") format("woff"); }

@font-face {
  font-family: "Aeroport";
  src: url("file:///C:/Users/meas_/Documents/streamcave/streamcave2/streamcave/sitevitrine/police/aeroport.woff") format("woff"); }

@font-face {
  font-family: "Lato";
  src: url("file:///C:/Users/meas_/Documents/streamcave/streamcave2/streamcave/sitevitrine/police/lato.woff") format("woff"); }

@font-face {
  font-family: "Poppins";
  src: url("police/poppins.woff") format("woff"); }
